.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  overflow: hidden;
  _zoom: 1;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.pl5 {
  padding-left: 5px;
}

.pl20 {
  padding-left: 20px;
}

.el-form-item__content > .el-select {
  width: 100%;
}

// 修复递归生成侧栏菜单时，折叠效果无法生效的问题
.el-menu--collapse > div > .el-menu-item[class^='el-icon-'],
.el-menu-collapse > div.el-submenu > .el-submenu__title[class^='el-icon-'] {
  margin: 0;
  vertical-align: middle;
  width: 24px;
  text-align: center;
}

.el-menu--collapse > div > .el-menu-item span,
.el-menu--collapse > div > .el-submenu > .el-submenu__title span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}

.el-menu--collapse > div > .el-menu-item .el-submenu__icon-arrow,
.el-menu--collapse > div > .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
  display: none;
}
